version: '3.8'
services:
  web:
    build: .
    ports:
      - '5000:5000'
    environment:
      - POSTGRES_HOST=postgres_host
  # Remove the db container

  # Database references have been replaced with POSTGRES_HOST.
  # For example, create specific references here according to your app logic.
  # DB_URL: postgres://${POSTGRES_HOST}

